* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
  font-size: 16px;
  color: white;
}

button {
  background-color: #e08594;
  border: none;
  outline: none;
  color: white;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.4 ease-in-out;
}

button:hover {
  background-color: #c77683;
}
